body {
    background-color: #0e111d;
    color: #b3b3b3;
    font-family: 'Open Sans', sans-serif;
}

.header {
    color: #d6d6d6;
    font-family: 'Raleway', sans-serif;
}

.row {
    margin: 0!important;
}

a {
    text-decoration: none;
    color: #b3b3b3;
}

a:hover {
    text-decoration: none;
    color: #ad57e8;
}

.swing-container {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
}

/* Hero Block */

.swing-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 680px;
    padding: 5rem;
    padding-top: 250px;
    padding-bottom: 80px;
    background-image: url("../img/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.swing-hero__text {
    z-index: 1;
    color: #ffffff;
}

.swing-hero__subtext {
    max-width: 800px;
}

.swing-hero__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0e111d;
    opacity: .6;
}

@media (min-width: 768px) {
    .swing-hero {
        padding: 5rem;
    }
}

/* Event Block */

.swing-event {
    background-color: #1C1F2C;
    padding: 3rem;
}

.swing-event__section {
    color: #b3b3b3;
    padding: 40px;
    display: flex;
    flex-flow: column;
}

.swing-event__section:first-child {
    border-bottom: 1px solid #585858;
}

.swing-event__next-date {
    padding: 20px 0;
    font-weight: 800;
}

.swing-event__dates {
    list-style: none;
    padding: 20px 0;
}

.swing-event__dates li {
    padding: 2px;
}

.swing-event__classes {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    font-variant: petite-caps;
    height: 100%;
}

@media (min-width: 768px) {
    .swing-event__section:first-child {
        border: 0;
        border-right: 1px solid #585858;
    }

}

/* Location Block */

.swing-location {
}

.swing-location__map {
    padding: 0;
}

.swing-location__map iframe{
    min-height: 400px;
    border:0;
}

.swing-location__text-wrapper {
    padding: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.swing-location__text-wrapper div {
    margin-top: 20px;
}

.swing-location__text {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.swing-location__bus-list {
    list-style: none;
    padding: 0;
}

.swing-location__bus-list li {
    display: inline-block;
}

.swing-location__bus-list li:not(:last-child):after {
    content: ','
}

/* Collegiate Block */
.swing-collegiate {
    background-color: #1C1F2C;
    padding: 3rem;
    display: flex;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
}

.swing-collegiate__column {
    padding: 3rem;
}

@media (min-width: 768px) {
    .swing-collegiate__column {
        padding: 0rem;
    }
}

.swing-contact {
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.swing-contact__header {
    margin-bottom: 20px;
}

.swing-contact__list {
    list-style: none;
    padding: 0;
}

.swing-contact__list li {
    display: inline-block;
}

.swing-contact__list__item {
    padding: 15px;
}

.swing-contact__list__item .fa {
    padding-right: 5px;
}


.swing-safe {
    padding: 40px;
    padding-top: 250px;
}

@media (min-width: 768px) {
    .swing-safe {
        padding: 40px;
        padding-top: 150px;
    }
}

.swing-safe__list li {
    padding: 10px;
}

.swing-safe__text div {
    padding: 20px 0;
}

.swing-safe__header {
    margin: 40px;
}